section.contenedor{
    text-align: center;
    margin: 0 auto;
    font-family:cursive;
    background: #4dedef; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4dedef, #ac32cd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4dedef, #ac32cd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    

}

body {
    background-color: #DBF9FC;
}